:root {
    --background: rgb(14, 14, 14);
    --font: white;
}

.nav-menu-container {
    background-color: var(--background);
    color: var(--font);
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;

    .nav-menu {
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
        padding-top: 4em;
        z-index: 20;
        overflow-y: hidden;
        

        li {
            border-top: 1px solid rgb(73, 73, 73);
            padding: 40px;
            padding-bottom: 50px;
            
            .li-container {
                font-size: 2em;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h3 {
                padding: 0;
                margin: 0;
            }
        }

    }
}
#final-li-border {
    border-bottom: 1px solid rgb(73, 73, 73);
}

#hamburger-container {
    max-width: 1440px;
    width: 95%;
    margin: auto;
    padding-top: 2em;
    display: flex;
    justify-content: flex-end;
}