#article-container {

    h2 {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 2em;
        line-height: 1em;
        margin-top: 65px;
    }

    p {
        margin: 20px 0;
    }

    li {
        list-style: circle inside;
        margin-left: 25px;
        margin-top: 5px;
    }
}